.header{
    background-color: rgb(7, 1, 65);
    display: flex;
    justify-content: space-between;

   
}

.header.left{
    display: flex;
    flex-direction: row;
    
}

.header-contact{

    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

    
    padding: 5px;
    padding-right: 20px;
 
}

.header-right{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: left;

}