@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

h1,
h2,
h3,
h4 .button-container {
  animation: slideInFromRight 0.5s ease-in-out forwards;
}

h3,
h4 {
  animation: slideInFromRight 0.5s ease-in-out forwards;
}
h1 {
  font-size: 60px;

  animation: slideInFromRight 0.5s 0.2s ease-in-out forwards;
}
.button-container {
  animation: slideInFromRight 0.5s 0.4s ease-in-out forwards;
}
