#footer{
    background-color:#0F1B31;
    color: white;
}

.logofooter{
    display: block;
    margin-right: 30px;
}

.logonamefooter{
    margin: 0 0 18px 0;
    color: var(--body-color);
    line-height: 1.75;
}